<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="heroName">
        <h1>Samuel & Carie</h1>
      </div>
      <div class="heroContent">
        <h3>Save the date</h3>
        <h2>Invite you to our wedding celebration</h2>
      </div>
      <div class="heroImg">
        <!-- <img src="https://taskee.azureedge.net/samuel/wedding/samuelandcarie.jpg" alt="Samuel and Carie are getting married"> -->
        <img src="https://samuelsiau.github.io/wedding-invitation/assets/weddingPhoto01.jpg" alt="Samuel and Carie are getting married">
      </div>
      <div class="heroInfo">
        <h4>Date: </h4>
        <h4>Venue: </h4>
        <h4>Address:</h4>
        <a href="" target="_blank">Google map</a>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="heroInvitation">
    <h3>RSVP</h3>
    <h4>Tell us if you're coming!</h4>
    <p>You only fill once this form ONCE.</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name" class="required">Full name</label>
          <input type="text" class="form-control" formControlName="name" required>
        </div>
        <fieldset class="form-group">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" value="yes" id="attending" formControlName="going" class="custom-control-input">
            <label class="custom-control-label" for="attending">Going</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" value="no" id="attending2" formControlName="going" class="custom-control-input">
            <label class="custom-control-label" for="attending2">Not going</label>
          </div>
        </fieldset>
        <div class="form-group">
          <label for="contactnumber">Contact number</label>
          <input type="number" class="form-control" formControlName="contactnumber">
          <small class="form-text text-muted">Easier to get in touch.</small>
        </div>
        <div class="form-group">
          <label for="totalpeople">Total people</label>
          <input type="number" class="form-control" formControlName="totalpeople">
          <small class="form-text text-muted">Total including yourself. E.g You and your wife = 2</small>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="form.invalid">Submit</button>
        </div>
      </form>
      <ng-container *ngIf="successMessage">
        <div class="alert alert-success mt-4" role="alert">
          Thank you.
        </div>
      </ng-container>
    </div>
  </div>
</div>

<router-outlet></router-outlet>